extends layout
  
block content
  .container
    form.form-signin(style='margin-top: 200px;')
      h2.form-signin-heading 管理员登录
      .login-wrap
        input.form-control(type='text', placeholder='账号', name='account', autofocus='')
        input.form-control(type='password', placeholder='密码', name='password')
        input.btn.btn-lg.btn-primary.btn-block.btn-adminlogin(type='button', value='登录')

block js
  script(src='/travel/js/admin/login.js')
