extends ../layout

block nav
  +topnav
  +leftnav

block content
  section#main-content
    section.wrapper
      .row
        .col-lg-12
          section.panel
            header.panel-heading
              | 管理员列表
              .pull-right
                button.btn.btn-info.btn-addadmin 添加管理员
            .panel-body
              table.table.table-striped.table-advance.table-hover
                thead
                  tr
                    th.hidden-phone
                      i.icon-question-sign
                      | 管理员账号
                    th.hidden-phone
                      i.icon-question-sign
                      | 管理员姓名
                    th
                      i.icon-bookmark
                      | 管理员权限
                tbody.tbody-daibaninfo
                  each adminitem in adminList
                    tr
                      td= adminitem.account
                      td= adminitem.name
                      - if (adminitem.quanxian == 0)
                        td 普通管理员
                      - else if (adminitem.quanxian == 1)
                        td 超级管理员

block js
  script.
    $(function() {
      $('.leftli-admin').addClass('active');
    });
