extends ../layout

block nav
	+topslider

block content
	#content(style='margin-top: -200px;')
		.container(style='background: #fff;')
			.row
				.col-sm-6
					h4 众乐旅行
					p 抛开尘世的纷扰，远离城市的喧嚣，寻找一份宁静，奢侈地享受旅不问人，行随己意的潇洒。背上简单的行囊，踏上行程，走过一个又一个陌生的城市。去感受旖旎的自然风光，绚丽的民族风情，悠久的历史文化。
					br
					h4 PHONE
					p +917 3386831
				.col-sm-6
					h3 登录 
						small
							a(href="/reg", style='text-decoration: none;') 去注册 >>>
					#note
					#fields
						form#ajax-contact-form.form-horizontal
							.form-group
								label(for='inputName') 账号
								input.form-control(type='text', name='account', placeholder='账号')
							.form-group
								label(for='inputEmail') 密码
								input.form-control(type='password', name='password', placeholder='密码')
							input.btn-default.btn-primary.btn-lg.pull-right.btn-login(type='button', value='登录')
