.panel-body
  table.table.table-striped.table-advance.table-hover
    thead
      tr
        th.hidden-phone 用户账号
        th.hidden-phone 用户姓名
        th 用户联系方式
    tbody
      tr
        td= userInfo.account
        td= userInfo.name
        td= userInfo.phone
